{erl_opts, [
    debug_info,
    {parse_transform, lager_transform}
]}.

{deps, [
    {eredis, "1.2.0"},
    {lager, "3.8.0"}
]}.

{shell, []}.

{relx, [
    {release, {allinone, "0.1.0"}, [
        number_generator,
        number_filter,
        sasl
    ]},
    {release, {generator, "0.1.0"}, [
        number_generator,
        sasl
    ]},
    {release, {filter, "0.1.0"}, [
        number_filter,
        sasl
    ]},

    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},

    {dev_mode, false},
    {include_erts, true},

    {extended_start_script, true}
]}.
