[
    {number_generator, [
        {redis_url, "redis://127.0.0.1:6379/?database=0&reconnect_sleep=100&connect_timeout=5000&password="},
        {out_queue, "numbers"},
        {n, 100}
    ]},
    {number_filter, [
        {redis_url, "redis://127.0.0.1:6379/?database=0&reconnect_sleep=100&connect_timeout=5000&password="},
        {in_queue, "numbers"},
        {out_queue, "simple_numbers"}
    ]}
].
